<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Battleship</title>
	</head>
	<body class="bg-blue-200 font-inter">
		<div class="flex h-screen flex-col items-center" id="app">
			<header class="mt-4 flex items-center justify-center gap-6 sm:gap-20">
				<button id="menu-button" class="hidden"
					><span
						class="mx-auto icon-[material-symbols--exit-to-app] align-middle text-2xl sm:mr-2"></span
					><span class="hidden align-middle sm:inline">Leave</span></button
				>
				<h1
					class="flex-1 text-center font-alumni text-6xl font-bold xl:text-8xl"
					>Battleship</h1
				>
				<button id="restart-button" class="hidden"
					><span
						class="mx-auto icon-[material-symbols--restart-alt] align-middle text-2xl sm:mr-2"></span
					><span class="hidden align-middle sm:inline">Restart</span></button
				>
			</header>
			<div
				class="my-auto flex w-full flex-col text-lg font-bold text-gray-100 sm:w-max sm:text-2xl"
				id="main-menu">
				<form
					class="flex flex-col gap-4 rounded-3xl border-2 border-gray-300 bg-radial from-slate-600 from-40% to-slate-700 p-4 shadow-2xl shadow-gray-700"
					id="game-settings"
					novalidate>
					<h2 class="text-center underline">Game Options</h2>
					<div class="flex flex-col gap-1" id="player-name-input">
						<label class="block italic" for="player-name"
							>Enter your name:</label
						>
						<input
							class="rounded-full bg-[#eee] px-4 text-gray-600 outline outline-black focus:bg-white focus:text-gray-700 focus:outline-2 focus:outline-blue-900"
							type="text"
							name="player-name"
							id="player-name"
							placeholder="player"
							required />
					</div>
					<div class="flex flex-col gap-1" id="board-size-input">
						<label class="block italic" for="board-size">Board size:</label>
						<input
							class="rounded-full bg-[#eee] px-4 text-gray-600 outline outline-black focus:bg-white focus:text-gray-700 focus:outline-2 focus:outline-blue-900"
							type="number"
							min="5"
							max="10"
							value="10"
							name="board-size"
							id="board-size"
							required />
					</div>
					<div class="flex flex-col gap-1" id="num-ships-input">
						<label class="block italic" for="num-ships">Number of ships:</label>
						<input
							class="rounded-full bg-[#eee] px-4 text-gray-600 outline outline-black focus:bg-white focus:text-gray-700 focus:outline-2 focus:outline-blue-900"
							type="number"
							min="1"
							max="10"
							value="5"
							name="num-ships"
							id="num-ships"
							required />
					</div>
					<div class="flex flex-col gap-1" id="max-misses-input">
						<label class="block italic" for="max-misses"
							>Allowed missed attacks:</label
						>
						<input
							class="rounded-full bg-[#eee] px-4 text-gray-600 outline outline-black focus:bg-white focus:text-gray-700 focus:outline-2 focus:outline-blue-900"
							type="number"
							min="1"
							max="100"
							value="20"
							name="max-misses"
							id="max-misses"
							required />
					</div>
					<button
						class="mx-auto w-1/2 cursor-pointer rounded-full bg-green-700 p-2 font-bold text-white shadow-[0_6px_0_0_rgba(0,100,0,1)] transition-colors duration-75 hover:bg-green-600 active:translate-y-1 active:shadow-[0_2px_0_0_rgba(0,100,0,1)]"
						id="start-game"
						type="submit"
						>Start Game</button
					>
				</form>
			</div>
			<div
				class="mx-auto my-auto hidden w-full flex-1 flex-col gap-4 rounded-none border-0 border-gray-200 bg-sky-800 pt-2 pb-2 shadow-2xl shadow-gray-800 sm:w-11/12 sm:flex-initial sm:rounded-2xl sm:border-2 xl:w-4/5 xl:gap-8"
				id="game">
				<div
					class="mx-auto flex h-auto flex-col justify-center rounded-full text-center text-base select-none sm:text-xl xl:h-20 xl:text-2xl/10"
					id="game-state">
					<p id="game-state-message" class="text-slate-200 italic"></p>
				</div>
				<div
					class="grid flex-1 grid-cols-1 divide-gray-400/70 xl:grid-cols-2 xl:divide-x-2"
					id="players">
					<div
						class="order-last flex flex-col gap-3 border-t-2 border-gray-400/70 py-2 xl:order-first xl:border-t-0 xl:py-0"
						id="player">
						<div
							class="mx-12 flex items-center justify-center gap-4"
							id="player-stats">
							<h3
								class="text-left align-middle text-xs text-gray-300 select-none sm:text-sm">
								Missed Attacks: <span id="player-missed-attacks">0</span>
							</h3>
							<h3
								id="player-current-name"
								class="flex-1 text-center align-middle text-2xl font-bold text-gray-200 underline xl:text-3xl"
								>Your Board</h3
							>
							<h3
								class="text-right align-middle text-xs text-gray-300 select-none sm:text-sm">
								Downed Ships: <span id="player-downed-ships">0</span>
							</h3>
						</div>
						<div
							class="grid place-content-center gap-px"
							id="player-board"></div>
						<div class="flex flex-col gap-1 select-none" id="player-score">
							<h4
								class="text-center text-lg font-bold text-gray-300 underline xl:text-xl"
								>Score: <span id="player-score-num">0</span>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
