@import url(https://fonts.bunny.net/css?family=alumni-sans:400,400i,600,600i,700,700i|inter:100,200,300,400);
@import "tailwindcss";
@plugin "@iconify/tailwind4";

@theme {
	--font-inter: "Inter", sans-serif;
	--font-alumni: "Alumni Sans", sans-serif;
}
