@import url(https://fonts.bunny.net/css?family=alumni-sans:400,400i,600,600i,700,700i|inter:100,200,300,400);
@import "tailwindcss";
@plugin "@iconify/tailwind4";

@theme {
	--font-inter: "Inter", sans-serif;
	--font-alumni: "Alumni Sans", sans-serif;
}

.player-square,
.enemy-square {
	@apply size-6 bg-slate-200 sm:size-10 xl:size-12;
}

.player-square.ship,
.enemy-square.ship {
	@apply bg-green-700 hover:bg-green-700;
}

.player-square.hit,
.enemy-square.hit {
	@apply bg-red-400 hover:bg-red-400;
}

.player-square.miss,
.enemy-square.miss {
	@apply bg-gray-400 hover:bg-gray-400;
}

.enemy-square {
	@apply cursor-pointer hover:bg-slate-300;
}

.ship-preview {
	@apply pointer-events-none size-6 bg-green-700 sm:size-10 xl:size-12;
}

.ship-select {
	@apply flex touch-none duration-75;
}

.ship-select.dragging {
	@apply transition-none!;
}

#enemy-name,
#player-current-name {
	@apply text-center text-2xl font-bold text-gray-200 underline xl:text-3xl;
}

#player-current-name.current {
	@apply font-bold text-green-500;
}

#enemy-name.current {
	@apply font-bold text-red-500;
}

#menu-button {
	@apply size-9 cursor-pointer rounded-full bg-red-700 font-bold text-gray-200 duration-75 hover:bg-red-800 sm:size-auto sm:px-4 sm:py-2;
}

#restart-button {
	@apply size-9 cursor-pointer rounded-full bg-blue-700 font-bold text-gray-200 duration-75 hover:bg-blue-800 sm:size-auto sm:px-4 sm:py-2;
}

#game-state-message {
	@apply whitespace-pre-wrap;
}
